.banner_container {
  width: 90vw;
  height: 120px;
  background-image: url("http://media.bizj.us/view/img/151181/bartteaserfinal.jpg");
  display: block;
  background-size: contain;
  margin: 10px 0;
}