.frontpage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 80vw;
  margin-top: 5px;
  padding-top: 10px;
}
.tile_box {
  width: 300px;
  height: 200px;
  margin: 5px 0px;
  border: 2px #f940cb solid;

}
.background_image {
  display: block;
  position: absolute;
  margin: auto;
  width: 300px;
  height: 200px;
  opacity: 0.5;
}
.tile_title {
  position: absolute;
  width: 300px;
  height: 200px;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  color: rgb(243, 231, 255)
}
.tile_pub {
  position: absolute;
  width: 300px;
  height: 200px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: rgb(243, 231, 255);
}
.tile_price {
  position: absolute;
  width: 300px;
  height: 200px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #ffe345;
}
// .add_box {
//   width: 300px;
//   height: 200px;
//   border: 1px greenyellow solid;
//   margin: 5px 0px;
// }
