.game_container {
  display: grid;
  width: 90vw;
  height: 450px;
  grid-template-rows: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 400px 50px 1fr ;
  margin-top: 50px;
}
.image_box_one {
  border: 1px yellow solid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.image_box_two {
  border: 1px green solid;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.image_box_three {
  border: 1px pink solid;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}
.bio_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px #f940cb solid;
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #f9406f;
  }
  p {
    margin-left: 5px;
    color: #ffe345;
  }
}
.published_game {
  display: flex;
  flex-direction: row;
}