.signup-container {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  width: 80vw;
  font-family: 'Libre Franklin' sans-serif;
  margin: 15px 0;
}
#user_first_name {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
  
}
#user_last_name {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#user_username {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#user_email {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#user_password {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#user_current_password {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#user_password_confirmation {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#game_title {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#game_genre {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#game_price {
  padding-left: 3px;
  height: 30px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
#game_description {
  padding: 2px;
  height: 100px;
  font-size: 12px;
  background: #1F0B33;
  border: 1px #40F99B solid;
  color: #40F99B;
}
.button_spacing {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}
.custom_submit {
  display: flex;
  justify-content: center;
  width: 150px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border: 1px #40F99B solid;
  color: #40F99B;
  background: #473456;
  padding: 6px 6px;
  transition: 0.5s;
  list-style: none;
}
.custom_submit:hover {
  color: #1F0B33;
  background: #BFFFC5;
}
.custom_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border: 1px #40F99B solid;
  color: #f940cb;
  background: #473456;
  padding: 6px 6px;
  transition: 0.5s;
  list-style: none;
}
.custom_delete:hover {
  color: #1F0B33;
  background: #BFFFC5;
}
.button_to {
  width: 150px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border: 1px #40F99B solid;
  color: #40F99B;
  background: #473456;
  padding: 6px 6px;
  transition: 0.5s;
  list-style: none;
}
.button_to:hover {
  color: #1F0B33;
  background: #BFFFC5;
}

button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #473456 !important;
  border: 1px #40F99B solid;
  color: #40F99B;
  background-image: none;
  transition: 0.5s;
}
.checkbox_button {
  width: 20px;
  height: 20px;
  background-color: #473456;
  border: 1px #40F99B solid;
  color: #40F99B;
}
.checkbox_spacing {
  margin: 10px 0;
}
.container {
  text-align: left;
  position: relative;
  font-size: 22px;
}
.container input {
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  height: 25px;
  width: 25px;
  background-color: #1F0B33;
  border: 1px #40F99B solid;
}
.container:hover input ~ .checkmark {
  background-color: #40F99B;
}
.container input:checked ~ .checkmark {
  background-color: #1F0B33;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #40F99B;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
