.user_grid {
  display: grid;
  width: 90vw;
  height: 600px;
  grid-template-rows: 1fr;
  grid-template-columns: 400px 50px 1fr;
  margin-top: 20px;
}
.bio_display {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 170px;
  border: 1px white solid;
  border-radius: 50%;
  margin-bottom: 20px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border: 1px white solid;
}
.games_display {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  h1 {
    color: #ffe345;
    text-decoration: underline;
  }
}
.games {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px #f940cb solid;
  width: 100%;
  height: 160px;
  margin: 5px 0;
}
.publishes_games_buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px 0;
}
.cart_games_buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 100px;
}
.price_spacing {
  display: flex;
  width: 100%;
  justify-content: flex-end;

}
.delete_spacing {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
.game_spacing {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.cart_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  h1 {
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
}
.cart_price {
  text-align: right;
  margin-bottom: 5px;
  color: #ffe345;
}
.cart_submit {
  padding: 15px 0;
}