.frontpage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 80vw;
  border: 1px greenyellow solid;
  background: pink;
  margin-top: 5px;
  padding-top: 10px;
}
.tile_box {
  width: 300px;
  height: 200px;
  border: 1px greenyellow solid;
  margin: 5px 0px;
}