<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thanks for your purchase
    </p>
    <p>Thanks for playing and have a great day!</p>
  </body>
</html>