<div class='promoted_games'>
<img class='promoted_slides' src="https://steamcdn-a.akamaihd.net/steam/apps/678950/header.jpg?t=1552403161" />

<img class='promoted_slides' src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />

<img class='promoted_slides' src="https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1514&q=80" />

<img class='promoted_slides' src="https://images.unsplash.com/photo-1526632623135-890fa91651e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" />

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("promoted_slides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 3 seconds
}
</script>

<div class='frontpage_container'>
  <div class='tile_box'>ADD
  </div>
  <div class='tile_box'>ADD
  </div>
  <div class='tile_box'>ADD
  </div>
  <div class='tile_box'>ADD
  </div>
  <div class='tile_box'>ADD
  </div>
  <div class='tile_box'>ADD
  </div>
</div>