<div class='promoted_games'>
  <img class='promoted_slides' src="https://dl.dropbox.com/s/khpmgv9ezbs8mey/dream-daddy.png" />
  <img class='promoted_slides' src="https://dl.dropbox.com/s/3mewlr1t5mevazc/crimelife3.png" />
  <img class='promoted_slides' src="https://dl.dropbox.com/s/h3v1oz9yiux2b6w/theSimsTorture.jpg" />
  <img class='promoted_slides' src="https://dl.dropbox.com/s/piinkbraw7li6up/GuitarMasterHero.jpg" />
</div>


<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("promoted_slides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 3000); // Change image every 3 seconds
  }
</script>

<div class='frontpage_container'>
  <%# <div class='tile_box'>ADD
  </div>
  <div class='game_box'>GAME
  </div>
  <div class='tile_box'>ADD
  </div>
  <div class='game_box'>GAME
  </div>
  <div class='tile_box'>ADD
  </div>
  <div class='tile_box'>ADD
  </div> %>
  <% @list.length.times do |index| %>
    <div class="tile_box">
      <h2><%= @list.game_title(index) %></h2>
      <h3><%= @list.game_publisher(index) %></h3>
      <h4><%= @list.game_price(index) %></h4>
    </div>
  <% end %>
</div>