<%= render 'shared/banneradd' %>

<div class='user_grid'>
  <div class='bio_display'>
    <div class='avatar'>avatar</div>
    <div class='details'>details</div>
  </div>
  <div class='games_display'>
    <div class='games_one'>games</div>
    <div class='games_two'>games</div>
    <div class='games_three'>games</div>
  </div>
</div>
