<div class='signup-container'>
  <h1 class='registration_headings'>Welcome Back!</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email", :class=>"field" %>
      <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password", :class=>"field" %>

      <%= f.submit "Log in", class: 'submit_button' %>
  <% end %>

</div>