<div class='signup-container'>
  <h1 class='registration_headings'>Welcome Back!</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password" %>
    </div>

    <div class='button_spacing'>
      <%= f.submit "Log in", class: 'custom_submit' %>
    </div>
  <% end %>

</div>