<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your game <%= @game %> has been published.
    </p>
    <p>Have a great day!</p>
  </body>
</html>