// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-line {
  margin: 0 0 5px 0;
  border-color: #ff2a49;
}

.display-container {
  display: flex;
  justify-content: center;
}
.info-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.game-title {
  width: 50%;
}
.red-btn {
  background-color: #ffffff;
  border: 2px solid #ff2a49;
  color: #ff2a49;
  border-radius: 5px;
  padding: 5px;
}
.pub-games {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.top-space {
  margin-top: 30px;
}
.button_spacing a {
  text-decoration: none;
}
.key-games {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.delete-btn {
  background-color: #ffffff;
  border: none;
  color: #ff2a49;
}
.edit-btn {
  background-color: #ffffff;
  border: none;
  color: #9cb946;
}
