// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
}
body {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  background: #1F0B33;
  color: aliceblue;
}
.registration_headings {
  padding: 20px;
}