<div class="charges-container">
  <div class='charges-info'>
    <h1>Thanks for your purchase</h1>
    <h4>Your Game Keys will display on your Dashboard</h4>

    <%= link_to 'Return Home', :root, class: 'submit_button' %>
  </div>
</div>