<div class='signup-container'>
  <h1 class='registration_headings'>Thanks for your purchase</h1>
  <h1 class='registration_headings'>Your Game Keys will display on your Dashboard</h1>

  <%= link_to 'Return Home', :root, class: 'custom_edit' %>
</div>